.content {
    width: 85%;
    margin: 2.5% auto 2.5% auto;
}
.clause {
    float: left;
    width: auto;
    max-width: 700px;
}
.baf-group {
    display: inline-block;
    margin: 0px 10px;
}
.dropdown-menu {
    left: auto;
    right: 0px;
}
.content { margin-top: 55px }
.box { border-radius: 16px }
.clause {
    float: left;
    width: auto;
    max-width: 1100px;
    background-size: 25px;
    background-repeat: no-repeat;
    padding-left: 45px;
    min-height: 40px;
    margin: 25px;
}
.flattrimg { background-image: url("http://cdn.shownot.es/img/flattr_icon.png") }
.twitterimg { background-image: url("http://cdn.shownot.es/img/twitter_icon.png") }
.adnimg { background-image: url("http://cdn.shownot.es/img/adn_icon.png") }
.ircimg { background-image: url("http://cdn.shownot.es/img/irc_icon.png") }
.gitimg { background-image: url("http://cdn.shownot.es/img/git_icon.png") }
.thispodcast {
    width: 150px;
    float: left;
    position: relative;
    margin: 20px;
    height: 180px;
    border-radius: 10px;
}
.thispodcast:hover {
    -webkit-box-shadow: 0px 0px 11px #333;
    -moz-box-shadow: 0px 0px 11px #333;
    -o-box-shadow: 0px 0px 11px #333;
    box-shadow: 0px 0px 11px #333;
}
.podcastimg {
    display: inline-block;
    padding: 0px;
    -webkit-box-shadow: 0px 0px 15px -5px rgba(5,5,5,1);
    box-shadow: 0px 0px 15px -5px rgba(5,5,5,1);
    vertical-align: top;
    border-radius: 8px 8px 0px 0px;
}
.podcastimg img {
    display: block;
    width: 150px;
    border-radius: 8px 8px 0px 0px;
}
.baf-group .baf:first-child {
    -webkit-border-top-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    border-top-left-radius: 0px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-bottom-left-radius: 8px;
}
.baf-group { margin: 0px }
.baf {
    margin: 0px;
    width: 96px;
    border-radius: 0px 0px 0px 8px;
}
.baf.dropdown-toggle {
    border-radius: 0px 0px 8px 0px;
    width: 10px;
}
[class^="dropdown-menu"] {
    left: 100px;
    right: auto;
    top: 32px;
}
#imglink {
    display: block;
    padding: 0px;
    border-radius: 8px;
    overflow: hidden;
    background-image: url('../img/DieShownotesBG2.png');
    background-size: auto 100%;
}
#imgcontainer {
    background-image: url("../img/DieShownotes.png");
    width: 100%;
    background-size: 100%;
    border-radius: 8px;
    display: block;
    position: relative;
    margin: auto;
}
#newPodcast {
    -webkit-border-top-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    border-top-right-radius: 0px;
    width: 125px;
}
#imgdummy { padding-top: 25.65% }
@media only screen and (max-width:650px) { 
	#imgcontainer { background-image: url("../img/DieShownotes_small.png") }
}
@media only screen and (-webkit-min-device-pixel-ratio:2) { 
	#imgcontainer { background-image: url("../img/DieShownotes.png") }
}
@media only screen and (min-width:930px) { 
	#imgcontainer { width: 760px }
}
@media only screen and (min-width:1386px) { 
  #podcasts {
      margin: auto;
      max-width: 1140px;
  }
}
@media only screen and (max-width:1385px) { 
	#podcasts {
	    margin: auto;
	    max-width: 950px;
	}
}
@media only screen and (max-width:1160px) { 
	#podcasts {
	    margin: auto;
	    max-width: 760px;
	}
}
@media only screen and (max-width:935px) { 
	#podcasts {
	    margin: auto;
	    max-width: 570px;
	}
}
@media only screen and (max-width:710px) { 
	#podcasts {
	    margin: auto;
	    max-width: 380px;
	}
}
@media only screen and (max-width:710px) { 
	#podcasts {
	    margin: auto;
	    max-width: 380px;
	}
}
@media only screen and (max-width:490px) { 
	#podcasts {
	    margin: auto;
	    max-width: 195px;
	}
}
