[submodule "OSF"]
	path = OSF
url=https://github.com/shownotes/OpenShownotesFormat.git
[submodule "editor"]
	path = editor
	url = https://SimonWaldherr@github.com/SimonWaldherr/OSF-Editor.git
[submodule "baf"]
	path = baf
	url = https://SimonWaldherr@github.com/SimonWaldherr/buttons-and-forms.git
[submodule "tinybox"]
	path = tinybox
	url = https://SimonWaldherr@github.com/SimonWaldherr/lightbox.js.git
