Options +Indexes

<IfModule mod_setenvif.c>
  <IfModule mod_headers.c>
    BrowserMatch MSIE ie
    Header set X-UA-Compatible "IE=Edge,chrome=1" env=ie
  </IfModule>
</IfModule>

<IfModule mod_headers.c>
  Header append Vary User-Agent
</IfModule>

<IfModule mod_deflate.c>
  <IfModule mod_setenvif.c>
    <IfModule mod_headers.c>
      SetEnvIfNoCase ^(Accept-EncodXng|X-cept-Encoding|X{15}|~{15}|-{15})$ ^((gzip|deflate)\s,?\s(gzip|deflate)?|X{4,13}|~{4,13}|-{4,13})$ HAVE_Accept-Encoding
      RequestHeader append Accept-Encoding "gzip,deflate" env=HAVE_Accept-Encoding
    </IfModule>
  </IfModule>
  <IfModule filter_module>
    FilterDeclare   COMPRESS
    FilterProvider  COMPRESS  DEFLATE resp=Content-Type /text/(html|css|javascript|plain|x(ml|-component))/
    FilterProvider  COMPRESS  DEFLATE resp=Content-Type /application/(javascript|json|xml|x-javascript)/
    FilterChain     COMPRESS
    FilterProtocol  COMPRESS  change=yes;byteranges=no
  </IfModule>

  <IfModule !mod_filter.c>
    # Legacy versions of Apache
    AddOutputFilterByType DEFLATE text/html text/plain text/css application/json
    AddOutputFilterByType DEFLATE text/javascript application/javascript application/x-javascript 
    AddOutputFilterByType DEFLATE text/xml application/xml text/x-component
  </IfModule>
</IfModule>

<IfModule mod_headers.c>
  Header unset ETag
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On

</IfModule>

<IfModule mod_rewrite.c>
  RewriteRule ^bm/(.*)$ /podcasts/?search&podcast=./bm/$1 [L]
  RewriteRule ^cr/(.*)$ /podcasts/?search&podcast=./cr/$1 [L]
  RewriteRule ^dw/(.*)$ /podcasts/?search&podcast=./dw/$1 [L]
  RewriteRule ^ep/(.*)$ /podcasts/?search&podcast=./ep/$1 [L]
  RewriteRule ^jc/(.*)$ /podcasts/?search&podcast=./jc/$1 [L]
  RewriteRule ^ll/(.*)$ /podcasts/?search&podcast=./ll/$1 [L]
  RewriteRule ^mm/(.*)$ /podcasts/?search&podcast=./mm/$1 [L]
  RewriteRule ^nsfw/(.*)$ /podcasts/?search&podcast=./nsfw/$1 [L]
  RewriteRule ^pt/(.*)$ /podcasts/?search&podcast=./pt/$1 [L]
  RewriteRule ^wrint/(.*)$ /podcasts/?search&podcast=./wrint/$1 [L]
  RewriteRule ^psyt/(.*)$ /podcasts/?search&podcast=./psyt/$1 [L]
  RewriteRule ^wg/(.*)$ /podcasts/?search&podcast=./wg/$1 [L]
  RewriteRule ^scsp/(.*)$ /podcasts/?search&podcast=./scsp/$1 [L]
  RewriteRule ^pp/(.*)$ /podcasts/?search&podcast=./pp/$1 [L]
  RewriteRule ^sozio/(.*)$ /podcasts/?search&podcast=./sozio/$1 [L]
  RewriteRule ^sz/(.*)$ /podcasts/?search&podcast=./dss/$1 [L]
  RewriteRule ^dss/(.*)$ /podcasts/?search&podcast=./dss/$1 [L]
  RewriteRule ^abs/(.*)$ /podcasts/?search&podcast=./abs/$1 [L]
  RewriteRule ^osm/(.*)$ /podcasts/?search&podcast=./osm/$1 [L]
  RewriteRule ^ls/(.*)$ /podcasts/?search&podcast=./ls/$1 [L]
  RewriteRule ^ng/(.*)$ /podcasts/?search&podcast=./ng/$1 [L]
  RewriteRule ^qs/(.*)$ /podcasts/?search&podcast=./qs/$1 [L]
  RewriteRule ^rl/(.*)$ /podcasts/?search&podcast=./rl/$1 [L]
</IfModule>

FileETag None

AddDefaultCharset utf-8

AddCharset utf-8 .html .css .js .xml .json .rss
