dd a:hover {
  text-decoration: underline;
}

.osf_amazon, .osf_applecom, .osf_flattr, .osf_twitter, .osf_wiki, .osf_youtube, .osf_glossary, .osf_amazonde, .osf_amazoncom, .osf_video {
  background-repeat: no-repeat;
  background-position: 0px 0px;
  padding-left: 18px;
}

  .osf_amazon, .osf_applecom, .osf_flattr, .osf_twitter, .osf_wiki, .osf_youtube, .osf_glossary, .osf_amazonde, .osf_amazoncom, .osf_video {
    background-size: 16px 16px;
  }
  .osf_amazon {
    background-image: url('http://cdn.shownot.es/include-shownotes/img/hd/amazon.png');
  }
  
  .osf_flattr {
    background-image: url('http://cdn.shownot.es/include-shownotes/img/hd/flattr.png');
  }
  
  .osf_twitter {
    background-image: url('http://cdn.shownot.es/include-shownotes/img/hd/twitter.png');
  }
  
  .osf_wiki, .osf_glossary {
    background-image: url('http://cdn.shownot.es/include-shownotes/img/hd/wiki.png');
  }
  
  .osf_youtube, .osf_video {
    background-image: url('http://cdn.shownot.es/include-shownotes/img/hd/youtube.png');
  }
  
  .osf_applecom {
  	background-image: url('http://cdn.shownot.es/include-shownotes/img/hd/apple.png');
  }